{% extends "shpesfba/about.html" %}
{% block title %}
Our Bylaws
{% endblock %}
{% block about_content %}
<body>
<h1 class="text-center"><span>BYLAW</span><br/>
    <span>SAN FRANCISCO BAY AREA PROFESSIONAL CHAPTER OF THE SOCIETY OF HISPANIC PROFESSIONAL ENGINEERS, INCORPORATED</span>
</h1>
<h2><span>Article I. Name of Organization</span></h2>
<p><span>The organization &nbsp; governed &nbsp; by this constitution &nbsp; shall be named &nbsp; the San Francisco Bay Area</span>
</p>
<p><span>Professional Chapter of the Society of Hispanic Professional Engineers, Incorporated.</span></p>
<h2><span>Article II. Purpose of Organization</span></h2>
<p><span>The Purpose shall be stated and confirmed in the bylaws.</span></p>
<h2><span>Article III. Objectives and Goals of the Organization</span></h2>
<p><span>The objective shall be as stated and confirmed in the bylaws.</span></p>
<h2><span>Article IV. Membership and Privileges</span></h2>
<p><span>Membership shall be defined as stated and confirmed in the bylaws.</span></p>
<h2><span>Article V. Executive Board of Directors</span></h2>
<p><span>The Executive Board of Directors and Board of Directors (EBOD) shall be defined as stated and confirmed in the bylaws.</span>
</p>
<h2><span>Article VI. &nbsp;Elections and Term of Office</span></h2>
<p><span>The elections and term of office of the Executive Board of Directors &nbsp; shall be as stated and confirmed in the bylaws.</span>
</p>
<h2><span>Article VII. &nbsp;Committees</span></h2>
<p><span>The Committees shall be as stated and confirmed in the bylaws.</span></p>
<h2><span>Article VIII. &nbsp;Jurisdiction</span></h2>
<p><span>Jurisdiction shall be defined as stated and confirmed in the bylaws.</span></p>
<h2><span>Article IX. &nbsp;Student Chapters</span></h2>
<p><span>Student Chapters shall be defined as stated and confirmed in the bylaws.</span></p>
<h2><span>Article X. &nbsp;Fiscal Year</span></h2>
<p><span>The Fiscal Year of the Chapter shall begin on July 1st and end on June 30th of each year.</span></p>
<h2><span>Article XI. &nbsp;Dues</span></h2>
<p><span>Dues shall be established as stated and confirmed in the bylaws by SHPE National.</span></p>
<h2><span>Article XII. &nbsp;Meeting</span></h2>
<p><span>Meetings shall be held and defined as stated and confirmed in the bylaws.</span></p>
<h2><span>Article XIII. Assets</span></h2>
<p><span>In the event that the Chapter is dissolved, any assets shall become the property of the National</span></p>
<p><span>Society of Hispanic Professional Engineers, Incorporated</span></p>
<h2><span>Article XIV. &nbsp;Donations</span></h2>
<p><span>Donations shall be defined as stated and confirmed in the bylaws.</span></p>
<h2><span>Article XV. &nbsp;Liability of Members</span></h2>
<p><span>No member of the chapter shall be personally or otherwise liable for any debts, liabilities, and/ or obligations of the Chapter.</span>
</p>
<h2><span>Article XVI. &nbsp;Amendments to the Constitution and Bylaws</span></h2>
<p><span>Amendments to the Constitution and bylaws shall occur as defined as stated and confirmed in the bylaws.</span>
</p>
<h1 class="text-center"><span>-BYLAWS-</span><br/>
<span>THE BYLAWS OF</span><br/>
<span>THE SAN FRANCISCO BAY AREA CHAPTER OF</span><br/>
<span>THE SOCIETY OF HISPANIC PROFESSIONAL ENGINEERS, INC.</span></h1>

<h2><span>Article I. Name of Organization</span></h2>
<p><span>The name of this organization shall be the San Francisco Bay Area Chapter of the Society of Hispanic Professional Engineers, Inc. &nbsp;This organization may also be referred to as the SF Bay Area SHPE Professional Chapter or as SHPE- SF Bay Area, herein referred to as the Chapter.</span>
</p>
<h2><span>Article II. Purpose of Organization</span></h2>
<p><span>The purpose of the Chapter shall be to actively promote the policies, objectives, and programs of the Society of Hispanic Professional Engineers, Inc., herein referred to as SHPE National.</span>
</p>
<h2><span>Article III. Objectives and Goals of the Organization</span></h2>
<p><span>The San Francisco Bay Area Professional Chapter is committed to providing professional, educational and cultural support in the community and promotes educational development programs that support the advancement of its members.</span>
</p>
<p><span>The objectives and goals of the Chapter shall be to:</span></p>
<p><span>1.0. &nbsp;Increase the number of Hispanics entering the fields of engineering, mathematics, physical and computer science, and other technical fields. &nbsp; These goals may have implemented by, but not limited to, the following:</span>
</p>
<ul>
    <li><span>School visitations</span></li>
    <li><span>Hispanic community involvement</span></li>
    <li><span>Workshops at local institutions</span></li>
    <li><span>Establish local student chapters at local colleges and universities</span></li>
</ul>
<p><span>2.0. &nbsp;Develop programs that promote the advancement of Hispanic engineers and scientists in employment and education. These goals may have implemented by, but not limited to, the following:</span>
</p>
<ul>
    <li><span>Career/employment workshops</span></li>
    <li><span>Technical seminars and symposia</span></li>
</ul>
<p><span>3.0. &nbsp;Develop programs benefiting Hispanics seeking careers in engineering or technical fields. These goals may have implemented by, but not limited to, the following:</span>
</p>
<ul>
    <li><span>Scholarships programs</span></li>
    <li><span>Recruitment programs</span></li>
    <li><span>Tutoring programs</span></li>
    <li><span>Curriculum assistance</span></li>
</ul>
<p><span>4.0. Provide a forum for and to encourage: the exchange of technical information, professional development, and entrepreneurial opportunities.</span>
</p>
<p><span>5.0 Inform the general public of technical contributions and achievements of Hispanics.</span></p>
<h2><span>Article IV. Membership and Privileges</span></h2>
<p><span>1.0. &nbsp;Regular Membership</span></p>
<p><span>Regular members shall be entitled to cast one vote in the election (per Article VI) of officers and in all business that the Executive Board of Directors (EBOD) refers to the membership. &nbsp;Regular members may hold office (per Article VI) and may also nominate themselves or qualified individuals for Chapter and/or National Office.</span>
</p>
<p><span>Membership shall be determined after an application has been submitted &nbsp; and approved by the</span></p>
<p><span>EBOD concurrence.</span></p>
<p><span>2.0. &nbsp;Regular Student Members</span></p>
<p><span>Student members shall be post-secondary school students who believe and support the purpose and objectives of the chapter. &nbsp;Student members shall be enrolled in a curriculum leading to a degree in engineering, mathematics, physical and computer science or other technical field. &nbsp;Student members shall either reside within or attend school within the chapter&rsquo;s jurisdiction. &nbsp;Student members cannot run for office or vote in chapter elections.</span>
</p>
<p><span>3.0. &nbsp;Industrial/Organizational Members</span></p>
<p><span>Industrial/ Organizational members shall be businesses or organizations, which support and pursue the objectives and goals of the chapter.</span>
</p>
<p><span>Industrial/Organizational members shall not be enticed to vote nor hold office in the chapter. Industrial/Organizational members shall be extended all privileges of membership less those exempted above.</span>
</p>
<p><span>4.0. Termination of Membership</span></p>
<p><span>Any member may terminate his/her membership upon written notification of the effective date of resignation to the EBOD. The chapter may, by a two-thirds (2/3) majority vote of the entire membership, terminate a person&#39;s membership from the chapter for any infraction of the bylaws, rules and/or regulations of the chapter.</span>
</p>
<h2><span>Article V. Executive Board of Directors</span></h2>
<p><span>1.0. &nbsp;Administration</span></p>
<p><span>The Executive Board of Directors (EBOD) consisting of the elected officers shall administer the affairs of the Chapter. The EBOD operates and makes decisions based upon group majority rule and is presided over by the President. The EBOD shall be responsible for all business concerning the Chapter. The EBOD shall set and establish policy for the Chapter. The Administration of EBOD policy and the management of the day-to-day affairs of the Chapter are delegated to the officers as specified herein.</span>
</p>
<p><span>2.0. &nbsp;The Elected Officers</span></p>
<p><span>The elected officers shall consist of a President, Vice President, a Treasurer and a Secretary which will collectively be responsible for treasury and administrative activities, as well as, those defined in the subsequent paragraphs. &nbsp;Additional officer positions may be created and defined by the EBOD to be elected by the membership to assist in meeting the objectives and goals of the organization</span>
</p>
<p><span>2.1. &nbsp;The President shall:</span></p>
<ul>
    <li><span>Represent the SHPE- SF Bay Area Chapter</span></li>
    <li><span>Be the point of contact for the organizational and financial matters of the Chapter, as well as, all other business concerning the Chapter according to policies and guidelines set and approved by the EBOD or the Chapter.</span>
    </li>
    <li><span>The President shall chair and preside at EBOD, general, and special meetings.</span></li>
    <li><span>The President and the EBOD shall have full power in appointment or dismissal of any committee chair, and may create or dissolve ad hoc committees, subject to the approval of the majority of the EBOD.</span>
    </li>
    <li><span>Be one of the two people (the other being the Treasurer) responsible to sign any documents related to financial matters, i.e. proposals, checks, etc.</span>
    </li>
</ul>
<p><span>2.2. &nbsp;The Vice-President shall:</span></p>
<ul>
    <li><span>Assist the President and the board in business concerning the Chapter.</span></li>
    <li><span>Co-Chair all meetings and chair meetings in the absence of the President.</span></li>
    <li>
        <span>Be responsible for the establishment of programs aimed at the professional and cultural development.</span>
    </li>
    <li><span>Increase educational opportunities for Hispanic youth, especially in engineering, science, and mathematics, and assist local student chapters and their members in meeting their goals.</span>
    </li>
</ul>
<p><span>2.3. The Treasurer shall:</span></p>
<ul>
    <li><span>Assist the President and the board in business concerning the Chapter and be responsible for the following:</span>
    </li>
</ul>
<ol start="1">
    <li><span>Collection of dues.</span></li>
    <li><span>Disbursement of authorized funds.</span></li>
    <li><span>Banking and accounting of all Chapter funds.</span></li>
    <li><span>Prepare and submit monthly financial reports listing all liabilities and assets of the chapter to the EBOD.</span>
    </li>
    <li><span>All financial reports required by State and/or Federal Governments.</span></li>
    <li><span>Transfer all financial reports in hard and electronic copy to the succeeding</span></li>
    <li><span>Treasurer within 30 days of termination of their term.</span></li>
    <li><span>Maintain contact with corporate sponsors and corporate members especially in the interest of dues collection.</span>
    </li>
</ol>
<p><span>2.4. The Secretary shall:</span></p>
<ul>
    <li><span>Maintain all official records of the Chapter.</span></li>
    <li><span>Maintain the official membership roster.</span></li>
    <li><span>Meet all National requirements in submitting membership forms and dues to National within 30 days of receipt.</span>
    </li>
    <li><span>Serve all notices required by law or the Bylaws of the Chapter.</span></li>
    <li><span>Coordinate the election of officers.</span></li>
    <li><span>Transfer all official records of the Chapter in hard and electronic copy to the succeeding</span></li>
    <li><span>Secretary within 30 days of termination of their term.</span></li>
</ul>
<h2><span>Article VI. &nbsp;Elections and Term of Office</span></h2>
<p><span>1.0. &nbsp;The Elections Committee:</span></p>
<p><span>The election of the Chapter Officers shall be organized and directed by the Elections Committee. The actions of the Committee must be impartial and fair to all the candidates. &nbsp;The Committee will prepare ballots to be distributed to all eligible regular and associate members to vote for the Chapter Officers according to policies and procedures established by the Chapter. &nbsp;The Elections Committee shall notify the membership in a timely manner of the open offices and solicit nominations for candidates as prescribed below.</span>
</p>
<p><span>2.0. &nbsp;Nominations and Eligibility:</span></p>
<p><span>The President and the EBOD shall be elected by a vote of eligible members within the Chapter&#39;s jurisdiction. &nbsp;Each candidate must be a SHPE Professional member to be nominated. A candidate may nominate him/herself or may nominate a candidate from regular members. &nbsp;The names of the candidates must be submitted to the Elections Committee by their specified date.</span>
</p>
<p><span>2.1. Voter Eligibility:</span></p>
<p><span>Regular and Associate members may participate in the election process if their membership dues are paid as of the nominations meeting of the election year.</span>
</p>
<p><span>2.2. &nbsp;Candidate Eligibility:</span></p>
<p><span>A Regular or Associate member is eligible to hold office if he/she:</span></p>
<ul>
    <li><span>Meets the requirements as per Article IV.</span></li>
    <li><span>Is a member in good standing as indicated by SHPE National?</span></li>
</ul>
<p><span>3.0. &nbsp;Election of Officers:</span></p>
<ul>
    <li><span>The ballots shall be collected and counted by the Elections Committee at the Annual Election Meeting to be specified by the chapter.</span>
    </li>
    <li><span>Candidates receiving the majority of votes per office shall be declared the winners.</span></li>
</ul>
<p><span>4.0. &nbsp;Duration of Term</span></p>
<p><span>The term of office shall be one year from July 1-June 30.</span></p>
<p><span>5.0. &nbsp;Notice of Elections</span></p>
<p><span>A meeting notice shall be delivered to all members not less than ten (10), or more than sixty (60)</span></p>
<p><span>days prior to the meeting.</span></p>
<p><span>6.0. &nbsp;Removal from Elected EBOD</span></p>
<p><span>A EBOD member may be removed from office by a recall election for not fulfilling his/her duties as specified in Article V or by not being in good standing with SHPE National.</span>
</p>
<p><span>6.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Removal of EBOD Members</span></p>
<p><span>A candidate for recall can be nominated by submitting a petition to the President and a copy to any of one other officer on the EBOD. The petition must be signed by a minimum of fifty-one percent (51%) of the regular membership. The EBOD must appoint an ad hoc recall elections committee as soon as possible or no later than the next scheduled EBOD meeting after the petition is received by the officers. &nbsp;The recall election committee shall validate the petition signatures and upon validation</span>
</p>
<p><span>a recall election will be organized and conducted within thirty (30) days of the recall election committee&rsquo;s formation. &nbsp; A simple majority of the votes of regular members is necessary to recall any EBOD member. &nbsp;A meeting notice per Article XII Section 5.0 shall be delivered, as prescribed in these bylaws.</span>
</p>
<p><span>6.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Terminated EBOD Members</span></p>
<p><span>Any EBOD member who has been recalled by the membership or whose membership has been terminated is automatically vacated from Chapter Office and from the EBOD and must surrender all materials belonging to the Chapter. &nbsp;A President who is recalled from office is not considered an Immediate Past President for the succeeding term. &nbsp;Should the President be recalled, the Vice President of the EBOD shall assume the office of President for the remainder of the term and shall be the Immediate Past President for the succeeding term.</span>
</p>
<p><span>7.0. Vacancies</span></p>
<p><span>The order of succession shall prevail in the event of a vacancy in any office due to death, resignation, disqualification, or otherwise. &nbsp;The order of succession shall be as follows: &nbsp;President, Vice President, Treasurer, and Secretary. &nbsp;The resulting vacancy must be filled by the EBOD within thirty (30) days of the vacancy for the remaining portion of the term.</span>
</p>
<h2><span>Article VII. &nbsp;Committees</span></h2>
<p><span>The EBOD shall have the power to establish any committee to conduct the business of the Chapter. The President may appoint, with EBOD concurrence, any member in good standing to chair such a committee. &nbsp; The assessment of need and creation of a committee should be through the EBOD and Presidents consent. &nbsp; A Board of Directors (BOD) shall be formed and consist of the elected</span>
</p>
<p><span>officers and all appointed committee chairpersons.</span></p>
<h2><span>Article VIII. &nbsp;Jurisdiction</span></h2>
<p><span>1.0 Geographic Boundaries:</span></p>
<p><span>The Chapter shall exercise its jurisdiction over the area included within the geographic boundaries of the following: &nbsp;the Greater San Francisco Bay Area</span>
</p>
<p><span>2.0 Jurisdiction Changes</span></p>
<p><span>The Chapter&rsquo;s jurisdiction may be reduced in geographic size if new chapters evolve within Chapter jurisdiction and are officially approved and recognized by SHPE National. &nbsp;In this case, these areas or portions thereof that can best be served by the new chapter as determined by its members and shall be subject to jurisdiction transfer to the new chapter.</span>
</p>
<h2><span>Article IX. &nbsp;Student Chapters</span></h2>
<p><span>1.0 Student Chapters:</span></p>
<p><span>Student Chapters may be established at universities, colleges, community colleges, and technical schools providing a formal curriculum leading to a degree in engineering, mathematics, science or other technical field. &nbsp;Application for the establishment of a student chapter shall be reviewed for approval by the SHPE National Membership Coordinators (NMC). &nbsp;Student chapters shall be organized according to the current SHPE National Guidelines on Student Chapter Development. SHPE National policies supersede any local policies regarding the Student Chapters.</span>
</p>
<p><span>2.0 Responsibilities of Student Chapters:</span></p>
<p><span>It shall be the responsibility of student chapters within the Professional Chapter&rsquo;s jurisdiction, to provide the Professional Chapter with the following information:</span>
</p>
<ul>
    <li><span>A copy of the Student Chapter&#39;s calendar of events with sixty (60) days of the start of the academic year.</span>
    </li>
    <li><span>A copy of the Student Chapter&#39;s official roster no later than sixty (60) days after the start of the Student Chapter&#39;s academic year.</span>
    </li>
</ul>
<p><span>In addition, periodic updates to the calendar of events and official roster are to be forwarded to the</span>
</p>
<p><span>Chapter on a timely basis.</span></p>
<h2><span>Article X. &nbsp;Fiscal Year</span></h2>
<p><span>1.0 Duration of Fiscal Year</span></p>
<p><span>The Fiscal Year of the Chapter shall begin on July 1st and end on June 30th of each year.</span></p>
<h2><span>Article XI. &nbsp;Dues</span></h2>
<p><span>1.0 Dues</span></p>
<p><span>Dues are as follows:</span></p>
<ul>
    <li><span>The amount of annual dues for each membership category shall be determined by SHPE National. &nbsp;Dues are to be paid either directly to National or to the Chapter. &nbsp;The Chapter will forward a portion of the dues to SHPE National per the current SHPE National policy.</span>
    </li>
    <li><span>Dues shall be payable to SHPE National before the nominations meeting of each year.</span></li>
    <li><span>Members who send dues directly to National are responsible for notifying any member of the EBOD to insure inclusion in Chapter roster. &nbsp;This must be indicated to all members of the chapter.</span>
    </li>
</ul>
<h2><span>Article XII. &nbsp;Meeting</span></h2>
<p><span>1.0 Annual Election Meeting:</span></p>
<p><span>An Annual Election Meeting of the members shall be held in the month of May.</span></p>
<p><span>2.0 General Meetings:</span></p>
<p><span>At least three (3) general meetings shall be held each fiscal year, in addition to the Annual Election</span>
</p>
<p><span>Meeting.</span></p>
<p><span>4.0 EBOD/BOD Meetings:</span></p>
<p><span>The EBOD/BOD shall meet at least every other month during the fiscal year. &nbsp;Members may attend as non-voting observers.</span>
</p>
<p><span>5.0 Special Meetings:</span></p>
<p><span>The President or any member of the EBOD may call a special meeting of the Chapter general membership.</span>
</p>
<p><span>6.0 Meeting Notices:</span></p>
<p><span>A meeting notice shall be delivered to each member. &nbsp;The notice shall include the place, date and time of the meeting and shall be delivered in writing or electronic form not less than ten (10) or more than thirty (30) days prior to the meeting.</span>
</p>
<p><span>7.0 Meeting Rules:</span></p>
<p><span>All meetings shall adhere to &quot;Robert&rsquo;s Rules of Order.&quot; &nbsp; Only EBOD may vote on monetary issues.</span>
</p>
<h2><span>Article XIII. &nbsp;Assets</span></h2>
<p><span>1.0 Assets</span></p>
<p><span>In the event that the Chapter is dissolved, any assets acquired by the Chapter shall be disseminated to the governing SHPE Regional Vice-President, while assets belonging directly to SHPE, Inc., shall be returned.</span>
</p>
<p><span></span></p>
<h2><span>Article XIV. &nbsp;Donations</span></h2>
<p><span>1.0 Chapter Donations:</span></p>
<p><span>The Chapter, a non-profit organization, may accept donations from corporations and other organizations and host fund raising banquets and events for Chapter programs and activities consistent with SHPE National policy.</span>
</p>
<h2><span>Article XV. &nbsp;Liability of Members</span></h2>
<p><span>1.0 Liability:</span></p>
<p><span>No member of the EBOD or Chapter shall be personally or otherwise liable for any debts, liabilities, and/or obligations of the Chapter.</span>
</p>
<p><span></span></p>
<h2><span>Article XVI. &nbsp;Amendments to the Constitution and Bylaws</span></h2>
<p><span>1.0 Amendment Procedure:</span></p>
<ul>
    <li><span>A motion to amend the constitution must first be made, entertained, and approved by the</span></li>
    <li><span>EBOD.</span></li>
    <li><span>The proposed amendment, after EBOD approval, shall be submitted in writing to the Secretary for presentation to the regular membership at an annual or general meeting or by mail or by electronic form.</span>
    </li>
</ul>
<p><span>2.0 Chapter Approval:</span></p>
<ul>
    <li><span>Chapter approval of proposed amendments shall be by a two-thirds (2/3) majority vote of Regular and Associate Members present at the general or special meeting at which proposed will be voted upon.</span>
    </li>
</ul>
<p><span>3.0 SHPE National Approval:</span></p>
<ul>
    <li><span>After Chapter approval, proposed amendments shall be submitted to SHPE National for approval by the National Membership Coordinators.</span>
    </li>
</ul>
<p><span>4.0 Date of Effect:</span></p>
<p id="h.gjdgxs"><span></span></p>
<ul>
    <li><span>All amendments to this constitution shall become effective immediately after SHPE National approval by the president.</span>
    </li>
</ul>
{% endblock %}