{% extends "shpesfba/about.html" %}
{% block title %}
    Past Events
{% endblock %}
{% block about_content %}
<h1>Past Events <small><a href="{% url "calendar" %}" class="btn btn-link"><i class="glyphicon glyphicon-calendar"></i> View Calendar</a></small></h1>
{% if events %}
  {% for event in events %}
      <h4><a href="https://facebook.com/events/{{ event.fb_id }}" target="_blank">{{ event.title }}
          <small>{{ event.date | date:'N j, g:i A Y' }} at {{ event.location }}</small>
      </a></h4>
      <p>{{ event.description | safe | linebreaksbr }}</p>
      <hr/>
  {% endfor %}
<nav aria-label="Events pages">
    <ul class="pagination">
        {% if events.has_previous %}
          <li>
            <a href="?page={{ events.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="disabled"><a aria-label="Next"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}

        {% for page in pagesBefore %}
            <li>
               <a href="?page={{ page }}">{{page}}</a>
            </li>
        {% endfor %}

         <li class="active"><a href="">{{ events.number }}</a></li>

        {% for page in pagesAfter %}
            <li>
               <a href="?page={{ page }}">{{page}}</a>
            </li>
        {% endfor %}

        {% if events.has_next %}
          <li>
            <a href="?page={{ events.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="disabled"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        {% endif %}
    </ul>
</nav>
{% else %}
  <p class="text-center"><em>No events</em></p>
{% endif %}
{% endblock %}
