{% extends "shpesfba/about.html" %}
{% block title %}
    Chapter History
{% endblock %}
{% block about_content %}
<h1>Awards and Honors</h1>
<ul>
    <li>2017-2018
        <ul>
            <li>Blue Chip Award</li>
        </ul>
    </li>
   <li>2016-2017
      <ul>
        <li>Region 1 Chapter of the Year</li>
         <li>Blue Chip Award</li>
      </ul>
   </li>
   <li>2015-2016
      <ul>
         <li>Region 1 Chapter of the Year</li>
         <li>Blue Chip Award</li>
      </ul>
   </li>
   <li>2014-2015
      <ul>
         <li>National Large Chapter of the Year</li>
         <li>Region 1 Chapter of the Year</li>
         <li>Blue Chip award</li>
      </ul>
   </li>
   <li>2013-2014
      <ul>
         <li>National Large Chapter of the Year</li>
         <li>Region 1 Chapter of the Year</li>
         <li>Blue Chip award</li>
      </ul>
   </li>
   <li>2012-2013
      <ul>
         <li>Region 1 Chapter of the Year</li>
         <li>Blue Chip award</li>
      </ul>
   </li>
   <li>2011-2012
      <ul>
         <li>Region 1 Chapter of the Year</li>
         <li>Blue Chip award</li>
      </ul>
   </li>
</ul>
{% endblock %}
