{% extends "shpesfba/about.html" %}
{% load static %}
{% block title %}
    About SHPE SFBA
{% endblock %}
{% block headline_class %}about-header{% endblock %}
{% block about_content %}
    <div class="row">
        <div class="col-md-12">
            <h1><a id="About_SHPE_SFBA_0"></a>About SHPE SFBA</h1>
            <p>The San Francisco Bay Area SHPE Chapter was founded on June 14, 1983
                with the mission to fulfill the goals of the SHPE organization by
                connecting with professionals, students, and the community. We strive to
                make a positive impact by serving as role models in many areas such as
                professional development and student outreach. With the help of our
                members and leaders we have found new and innovative ways to address the
                needs of our Hispanic community.</p>
            <h2><a id="Mission_Statement_and_Values_11"></a>Mission Statement and Values</h2>
            <p>We are committed to providing professional, educational and cultural
                support in the community and promoting educational development programs
                that advance our members’ lives and careers.</p>
            <h3><a id="Goals_18"></a>Goals</h3>
            <ol>
                <li>Increase the number of Hispanics entering the fields of engineering,
                    mathematics, physical and computer science, and other technical
                    fields.
                </li>
                <li>Develop programs that promote the advancement of Hispanic engineers
                    and scientists in employment and education.
                </li>
                <li>Develop programs benefiting Hispanics seeking careers in engineering
                    or technical fields.
                </li>
                <li>Provide a forum for and to encourage the exchange of technical
                    information, professional development, and entrepreneurial
                    opportunities.
                </li>
                <li>Inform the general public of technical contributions and
                    achievements of Hispanics.
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2><a id="What_We_Do_33"></a>What We Do</h2>
            <h3><a id="Outreach_Community_Service_108"></a>Outreach &amp; Community Service</h3>
            <p>Giving back to the community is important to SHPE SFBA. We are always
                looking for new ways to engage with students, parents, educators, and
                other members of our community. Some of our activities include visiting
                schools, giving workshops at local institutions, and establishing local
                student chapters at local colleges &amp; universities.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4><a id="SHPE_SFBA_Engineering_Day_at_The_Exploratorium_130"></a>SHPE SFBA Engineering Day at The
                Exploratorium</h4>
            <p>For the past 14 years, the Annual Engineering Day at the Exploratorium
                has been SHPE SFBA’s largest community outreach event. Each year, we
                offer free admission to the Exploratorium and design family friendly
                workshops, activities, and presentations that highlight the importance
                of STEM. For 2016’s event, 628 total guests attended with our flyer,
                comprising over 25% of the total guest attendance for the day.</p>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="{% static "img/about/exploratorium1.JPG" %}" alt="SHPE SFBA at Exploratorium"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="{% static "img/about/exploratorium2.JPG" %}" alt="SHPE SFBA at Exploratorium"/>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <h4><a id="Presentation_on_DACA_AB60_and_Immigration_Fraud_116"></a>Presentation on DACA, AB60, and
                Immigration Fraud</h4>
            <p>As we saw the changes happening in our government and new presidential
                administration, we dedicated a meeting to talk about the issues that may
                affect our community. An immigration lawyer and a representative from
                the California Secretary of State informed us about Deferred Action for
                Childhood Arrivals (DACA), AB60 (Driver’s license for undocumented), and
                Immigration fraud.</p>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="{% static "img/about/immigration1.jpg" %}" alt="Issues affecting our community"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="{% static "img/about/immigration2.jpg" %}" alt="Issues affecting our community"/>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <h4><a id="Made_with_Code__Google_139"></a>Made with Code @ Google</h4>
            <p>SHPE SFBA partnered with Google to host an event to support the next
                generation of teen girl coders aged 13-18. During CSEdWeek, girls
                started with fun coding projects, including accessorizing selfies,
                animating dancing monsters, and creating Holiday Emojis. They also had
                the opportunity to meet and hear from women coders who are creating a
                better future.</p>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="{% static "img/about/made_with_code.jpg" %}" alt="Made With Code at Google"/>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <h4><a id="Noche_de_Ciencias_148"></a>Noche de Ciencias</h4>
            <p>Noches de Ciencias (Family Science Night) – is a national initiative to
                promote knowledge and interest in science, technology, engineering and
                math (STEM). The goal of Noches de Ciencias is to inform K-12 students
                and their families about STEM education and college options through
                interactive workshops and activities. SHPE SFBA regularly hosts events
                at local schools and organizations such as the SF Boys and Girls club.</p>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="{% static "img/about/noche1.jpg" %}" alt="Noche de Ciencias"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="{% static "img/about/noche2.jpg" %}" alt="Noche de Ciencias"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><a id="ProfessionalCareer_Development__Networking_36"></a>Professional/Career Development &amp;
                Networking
            </h3>
            <p>SHPE SFBA regularly hosts events to develop our members’ skills to
                succeed in the workplace. We have come to recognize that these events
                are some of the most valued by our members because they’re a great
                chance to interact with experienced professionals and to learn about new
                resources. Here are a few events we’ve hosted in the past:</p>
        </div>

        <div class="col-md-7">
            <h4><a id="Intel_Professional_Development_Series_Workshop_44"></a>Intel Professional Development Series
                Workshop</h4>
            <p>We partnered with Intel to bring the Intel
                Professional Development Series Workshop. The day started with
                registration and a welcome by Intel. The remainder of the day consisted
                of three different workshops lead by two great speakers, and a lunch.
                Mr. Raj Kapur started the workshop series with his “MakeMe1st”
                presentation, where he talked about how to positively work with others
                in your organization and reach your personal professional goals at the
                same time. Mrs. Rosie “The Closer” Zepeda gave a lively presentation
                entitled “Creating &amp; Managing the Brand of YOU”. Finally, Mr. Kapur
                closed the event with his workshop on “How to Achieve Maximum Influence
                with Limited Authority”.</p>
        </div>

        <div class="col-md-5">
            <div class="thumbnail">
                <img src="{% static "img/about/intel_presentation.png" %}" alt="Intel Presentation"/>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <h4><a id="Networking_Like_a_Professional_59"></a>Networking Like a Professional</h4>
            <p>In an event hosted at Mass Mutual, we offered a workshop where members
                learned how to effectively develop mentors, meet high quality
                professionals, and to develop their own 30 second commercial for what
                they do and the service they provide.
            </p>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="{% static "img/about/networking1.png" %}" alt="Networking like a professional"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="{% static "img/about/networking2.png" %}" alt="Networking like a professional"/>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-5">
            <h4><a id="Bay_Area_Bomba_Blast_70"></a>Bay Area Bomba Blast</h4>
            <p>The SHPE San Francisco Bay Area &amp; Silicon Valley Professional Chapters
                partnered to host a one-day seminar for students to improve career
                skills such as resume writing, interviewing, and navigating a career
                fair. SHPE SFBA professionals volunteered to conduct mock interviews and
                give presentations on valuable skills such as agile methodologies and
                networking.</p>
        </div>
        <div class="col-md-7">
            <div class="thumbnail">
                <img src="{% static "img/about/bomba_blast.jpg" %}" alt="Bomba Blast"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><a id="Chapter_Development_86"></a>Chapter Development</h3>
            <p>Our chapter couldn’t have won numerous national recognitions without the
                support of our members. We like to engage them in social activities to
                help form connections such as networking events with other organizations
                in the bay area, mixers at a variety of companies, and competitive
                sports. Here’s a few of the events.</p>
            <h4><a id="Google_Holiday_Mixer_2016_94"></a>Google Holiday Mixer 2016</h4>
            <p>SHPE SFBA joined Google’s annual holiday mixer at the SF Google Office.
                Other organizations, such as SHPE SV, SWE and NSBE, attended this great
                event of networking and connecting with other professionals in the Bay
                Area.</p>
            <hr/>
            <h4><a id="SHPE_SFBA_Posada_101"></a>SHPE SFBA Posada</h4>
            <p>SHPE-SFBA hosted a potluck-style posada to celebrate the holiday season.
                This event was also an opportunity to give back to our community:
                attendees brought toys that were donated to La Raza Community Resource
                Center in San Francisco.</p>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h4><a id="SHPE_SFBA_BombaCup"></a>Bomba Cup</h4>
            <p>Every year, SHPE Region 1 hosts Bomba Cup that brings together students and
                professionals from mid to nothern California. Each chapter brings a soccer team of
                10 players and compete against each other to win the famed Bomba Cup trophy.</p>
            <div class="thumbnail">
                <img src="{% static "img/about/bomba_cup.png" %}" alt="SHPE SFBA Bomba Cup Team"/>
            </div>
        </div>
        <div class="col-md-7">
            <div class="thumbnail">
                <img src="{% static "img/about/bomba_cup2.jpg" %}" alt="Bomba Cup"/>
            </div>
        </div>
    </div>
{% endblock %}
