{% load static %}
{% load nav_active %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>{% block title %}{% endblock %} - SHPE SF Bay Area</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/shpe.css" %}?v=1"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    {% block styles %}
    {% endblock %}
</head>
<body>
<nav role="navigation" class="navbar navbar-default" id="shpenavbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapsable"
                    class="navbar-toggle collapsed" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>

            <a href="/" class="navbar-brand" id="shpelogo">
                <img src="/static/img/nav_logo.png">
            </a>
        </div>

        <div id="navbar-collapsable" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="navbar-nav nav">
                <li class="{% nav_active 'index' 'active' %}"><a href="/">Home</a></li>
                <li class="{% nav_active 'membership' 'active' %}"><a href="{% url "membership" %}">Membership</a></li>
                <li class="{% nav_active 'calendar' 'active' %}"><a href="{% url "calendar" %}">Calendar</a></li>
                <li class="{% nav_active 'jobs' 'active' %}"><a href="{% url "jobs" %}">Job Listings</a></li>
                <li class="{% nav_active 'gallery' 'active' %}"><a href="{% url "gallery" %}">Gallery</a></li>
                <li class="{% nav_active 'about' 'active' %}"><a href="{% url "about" %}">About</a></li>
                <li class="{% nav_active 'contact' 'active' %}"><a href="{% url "contact" %}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<footer role="footer" class="site-footer container-fluid">
    <div class="row text-center">
        <div class="col-xs-12">
            <a class="social-link" href="https://www.facebook.com/groups/120819351271743/" target="_blank"><i class="fa fa-3x fa-facebook-official" aria-hidden="true"></i></a>
            <a class="social-link" href="https://www.instagram.com/shpesfba/" target="_blank"><i class="fa fa-3x fa-instagram" aria-hidden="true"></i></a>
            <a class="social-link" href="https://join.slack.com/t/shpe-sfba/shared_invite/MjI0OTQ2MDAxOTc0LTE1MDIyNDUxNTctMGRkZDRiYmJlNg" target="_blank"><i class="fa fa-3x fa-slack" aria-hidden="true"></i></a>
            <a class="social-link" href="{% url "contact" %}" data-toggle="tooltip" title="Contact Us"><i class="fa fa-3x fa-envelope-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <p>Copyright &copy; SHPE SFBA <script>document.write(new Date().getFullYear());</script></p>
        </div>
        <div class="col-xs-6 text-right">
                <p><a href="http://www.shpe.org/" target="_blank">SHPE Inc.</a>&nbsp;|&nbsp;
                   <a href="https://www.shpeconnect.org" target="_blank">SHPE Connect</a>
                </p>
        </div>
    </div>
</footer>

<script src="{% static "js/jquery-3.1.0.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %} "></script>
<script src="{% static "js/shpe.js" %} "></script>
{% block scripts %}
{% endblock %}
</body>

</html>
