{% extends "shpesfba/base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}

    <div class="banner">
      <div class="bg-color">
        <div class="container">
          <div class="row">
              <h1 class="banner-text">San Francisco Bay Area<br/>Society of Hispanic Professional Engineers</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Mission</h1>
                <p class="text-center">
                    Providing professional, educational and cultural support in the community
                    and promoting educational development programs that advance our members'
                    lives and careers.
                </p>
                <hr class="bottom-line">
            </div>
        </div>

        <section class="section-padding">
            <div class="container">
                <div class="row">
                <div class="feature-info">
                    <div class="fea">
                    <div class="col-md-4">
                        <div class="heading pull-right">
                            <h4>Outreach & Community Service</h4>
                            <p>
                            We are always looking for new ways to engage with students, parents, 
                            educators, and other members of our community
                            </p>
                        </div>
                    </div>
                    </div>
                    <div class="fea">
                    <div class="col-md-4">
                        <div class="heading pull-right">
                            <h4>Development and Networking</h4>
                            <p>
                            We host regular events that develop our members’ skills so that they can succeed in 
                            the workplace
                            </p>
                        </div>
                    </div>
                    </div>
                    <div class="fea">
                    <div class="col-md-4">
                        <div class="heading pull-right">
                            <h4>Chapter Development</h4>
                            <p>
                            We engage in networking events with other organizations in the bay area, mixers 
                            at a variety of companies, and competitive sports
                            </p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <section>
            <div class="text-center">
                <div class="col-xs-4 line"><hr></div>
                <div class="col-xs-4 blue-chip">2016-2017 Blue Chip Award Winner</div>
                <div class="col-xs-4 line"><hr></div>
            </div>
        </section>

        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center">Upcoming Events</h1>
                {% if events %}
                    {% for event in events %}
                        <h4><a href="https://facebook.com/events/{{ event.fb_id }}" target="_blank">{{ event.title }}
                            <small>{{ event.date | date:'N j, g:i A' }} at {{ event.location }}</small>
                        </a></h4>
                        <p>{{ event.description | safe | linebreaksbr}}</p>
                        <hr/>
                    {% endfor %}
                {% else %}
                    <p class="text-center"><em>No upcoming events</em></p>
                {% endif %}
                <p class="text-center">
                <a href="{% url 'calendar' %}" class="btn btn-default btn-shpe">View Calendar</a>
                <a href="{% url 'about.past-events' %}" class="btn btn-default btn-shpe">View Past Events</a>
                </p>
            </div>
            <div class="col-md-6">
                <h1 class="text-center">Membership</h1>
                <p>Membership is open to all individuals who believe in the mission and goals set forth by the
                    organization.
                    SF Bay Area SHPE does not discriminate based on occupation, ethnicity, or any other classification.
                    The
                    chapter welcomes individuals and corporations alike to join together to fufill the mission and goals
                    of
                    SF Bay Area SHPE.</p>
                <p class="text-center">
                    <a class="btn btn-default btn-shpe" href="https://www.facebook.com/groups/120819351271743/" target="_blank">Join Our Facebook Group</a>
                    <a class="btn btn-default btn-shpe" href="{% url "membership" %}">Apply Online</a>
                    <a class="btn btn-default btn-shpe" href="{% url "contact" %}?action=mailing_list">Join Our Mailing List</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
