{% extends "shpesfba/base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}

    <div class="banner">
      <div class="bg-color">
        <div class="container">
          <div class="row text-center">
              <h1 class="banner-text">San Francisco Bay Area<br/>Society of Hispanic Professional Engineers</h1>
              <a href="{% url "membership" %}" class="btn btn-banner">Become a Member</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center mission-text">
                    Providing professional, educational and cultural support that advance our members'
                    lives and careers.
                </p>
                <hr class="section-line">
            </div>
        </div>

        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4 feature text-center">
                        <h4>Outreach & Community Service</h4>
                        <a href="{% url "about" %}"><img class="img-rounded" src="/static/img/home/outreach.jpg"/></a>
                        <p>
                        We are always looking for new ways to engage with students, parents, 
                        educators, and other members of our community
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 feature text-center">
                        <h4>Professional Development</h4>
                        <a href="{% url "about" %}"><img class="img-rounded" src="/static/img/home/prof-dev.jpg"/></a>
                        <p>
                        We host regular events that develop our members’ skills so that they can succeed in 
                        the workplace
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 feature text-center">
                        <h4>Chapter Development</h4>
                        <a href="{% url "about" %}"><img class="img-rounded" src="/static/img/home/chapter-dev.JPG"/></a>
                        <p>
                        We engage in networking events with other organizations in the bay area, mixers 
                        at a variety of companies, and competitive sports
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="text-center">
                <div class="hidden-xs col-sm-4 line"><hr></div>
                <div class="col-xs-12 col-sm-4 blue-chip"><i class="fa fa-trophy" style="padding-right: 10px;" aria-hidden="true"></i>2016-2017 Blue Chip Award Winner</div>
                <div class="hidden-xs col-sm-4 line"><hr></div>
            </div>
        </section>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h1 class="text-center">Upcoming Events</h1>
                {% if events %}
                    {% for event in events %}
                        <h4><a href="https://facebook.com/events/{{ event.fb_id }}" target="_blank">{{ event.title }}
                            <small>{{ event.date | date:'N j, g:i A' }} at {{ event.location }}</small>
                        </a></h4>
                        <p>{{ event.description | safe | linebreaksbr}}</p>
                        {% if event.eventbrite_url %}
                            <p><a href="{{ event.eventbrite_url }}" target="_blank">Register for this event on Eventbrite</p></a>
                        {% endif %}
                        <hr/>
                    {% endfor %}
                {% else %}
                    <p class="text-center"><em>No upcoming events</em></p>
                {% endif %}
                <p class="text-center">
                    <a href="https://www.eventbrite.com/o/shpe-san-francisco-bay-area-14833371820" target="_blank">
                                Visit our Eventbrite profile to view and register for events
                    </a><br>
                    <a href="{% url 'calendar' %}" class="btn btn-default btn-shpe">View Calendar</a>
                    <a href="{% url 'about.past-events' %}" class="btn btn-default btn-shpe">View Past Events</a>
                </p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <h1 class="text-center">Get in Touch</h1>
                <div class="row">
                    <div class="col-xs-12">
                        <a class="btn btn-default btn-shpe" href="https://www.facebook.com/groups/120819351271743/" target="_blank" data-toggle="tooltip" title="Facebook"><i class="fa fa-lg fa-facebook-official" aria-hidden="true"></i></a>
                        <a class="btn btn-default btn-shpe" href="https://www.instagram.com/shpesfba/" target="_blank" data-toggle="tooltip" title="Instagram"><i class="fa fa-lg fa-instagram" aria-hidden="true"></i></a>
                        <a class="btn btn-default btn-shpe" href="https://join.slack.com/t/shpe-sfba/shared_invite/MjI0OTQ2MDAxOTc0LTE1MDIyNDUxNTctMGRkZDRiYmJlNg" target="_blank" data-toggle="tooltip" title="Slack"><i class="fa fa-lg fa-slack" aria-hidden="true"></i></a>
                        <a class="btn btn-default btn-shpe" href="{% url "contact.mailing-list" %}" data-toggle="tooltip" title="Join Mailing List"><i class="fa fa-lg fa-envelope-o" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a class="btn btn-default btn-shpe" href="{% url "membership" %}">Become a Member</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
