{% extends "shpesfba/base.html" %}
{% block title %}
    Membership
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div id="headline-min" class="row">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>Join SHPE</h1>
                <h4 class="membership-lead"> SHPE is an organization of students and professionals interested in developing professional and leadership 
                    skills, networking, and advancing career goals. Become part of the SHPE Familia and find support wherever you go with over 
                    250 chapters and 10,000 members across the nation.
                </h4>
                <hr class="section-line">
                <p>To apply visit <a href="https://www.shpeconnect.org" target="_blank">SHPE Connect</a> and create an account.</p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">Membership Types</h4>
                {% for membership in memberships %}
                    <div class="row">
                        <div class="membershipLevel col-sm-12">
                            <div class="head">
                                {{ membership.title }} <span> {{ membership.price }}</span>
                            </div>
                            <div>
                                <p>{{ membership.description | linebreaksbr}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
