{% extends "shpesfba/base.html" %}
{% load nav_active %}
{% load static %}
{% block title %}
MentorSHPE Program
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div id="headline-min" class="row">
        </div>
    </div>

    <div class="container">
<div class="col-md-12">
   <h1>MentorSHPE Program – Guidelines <small>Mentors: <a href="#mentorshpe_downloads">sign up here</a></small></h1>
<h2>I. Society of Hispanic Professional Engineers</h2>
<h3>Mission:</h3>
<p>SHPE changes lives by empowering the Hispanic community to realize its fullest potential and to impact the world through STEM awareness, access, support and development</p>
<h3>Vision:</h3>
<p>SHPE's vision is a world where Hispanics are highly valued and influential as the leading innovators, scientists, mathematicians and engineers.</p>
<h2>II. MentorSHPE Overview</h2>
<p>Mentoring is a developmental relationship between a professional (a mentor), and a student partner (a mentee). Through regular interactions, the mentee relies on the mentor's guidance, coaching, support and advice to gain skills, perspective, and experience to be successful. The MentorSHPE program is an interactive, personal and effective way to ensure the success of individuals seeking to grow in their education, careers and personal life. The MentorSHPE program builds on SHPE's phenomenal network of other chapters, agencies, corporations, educators and committed volunteers who give their time, talent and guidance to guide their mentee.</p>
<p>The program serves as a bridge for helping the educational transition of mentees through one-on-one mentoring. MentorSHPE is designed to provide multiple touch points that can include personal one-on-one time with mentors, tours of corporate and educational facilities, workshops and seminars on STEM and personal growth, events to educate and bring resources for the mentee and his/her family. Examples of some MentorSHPE events include guest speakers, question and answer sessions with professionals, on the job shadowing with professionals, resume workshops, mock interviews, situational exercises, technical writing workshops to name a few.</p>
<h2>III. Purpose</h2>
<p>The purpose of the MentorSHPE program is to establish a formalized mentorship program to develop, improve, and progress the skills of all SHPE members.</p>
<h2>IV. Program Goals</h2>
<p>The goals of the program are to:</p>
<ul>
<li>Provide MentorSHPE participants with the tools, skills and guidance to succeed in their educational and career goals</li>
<li>Inspire MentorSHPE participants to see the value in pursuing degrees in STEM and developing STEM professional skills</li>
<li>Develop a membership retention tool and add value for members</li>
</ul>
<h2>V. Program Benefits</h2>
<p>For mentees:</p>
<ul>
<li>A dedicated individual committed to give one-on-one time and guidance</li>
<li>Development of critical education and job skills</li>
<li>Assistance in career goal-setting and support in achieving the mentees' goals</li>
<li>Coaching/counseling on effective problem-solving techniques</li>
<li>Development and enhancement of leadership skills</li>
<li>Guidance through the college application processes (scholarships, internships)</li>
<li>Insight into strengths and weaknesses</li>
<li>Perspective from someone who has persevered similar adversities</li>
<li>Guidance on next steps and how to best achieve them</li>
</ul>
<p>For mentors:</p>
<ul>
<li>An experience of a lifetime where efforts truly impact an individual's life</li>
<li>An opportunity to see personal development and professional growth in the mentee</li>
<li>Ability to grow communication and interpersonal skills</li>
<li>Opportunity to share experiences and knowledge gained through similar challenges and experiences</li>
<li>An opportunity to give back to the community</li>
<li>An opportunity to reflect on your own experience and its personal meaning</li>
<li>Development of leadership skills and coaching skills</li>
</ul>
<p>For both:</p>
<ul>
<li>Knowledge that together they are ensuring SHPE truly has an impact on the Hispanic community and the US capacity to provide the innovators of tomorrow</li>
<li>An opportunity to grow networks and build relationships within the community</li>
<li>An opportunity to learn about themselves</li>
<li>An opportunity to enhance communication skills</li>
</ul>
<h2>VI. Program Operation</h2>
<p>Opportunities will be provided for mentees to meet potential mentors followed by a selection process to provide a good match. A general program structure will be provided that will support the exploration, clarification, and attainment of long-term goals, as defined by the mentee and guided by the mentor.</p>
<p>The mentor-mentee relationship is a partnership of mutual respect, trust, and confidentiality in order to promote an open and honest dialogue. It is vital to the partnership that the mentor and mentee align on the expectations, set short-term goals based on mentee needs, and commit to following through with them within the agreed timeframe.</p>
<p>Monthly progress reports and templates, discussion prompts, activity outlines and best practices will be provided to help maximize the mentor/mentee experience.  Announcements will be made periodically for upcoming events that may further benefit the MentorSHPE participants. The program shall strive to obtain and record tangible feedback via the SHPE National Reporting Program's chapter reports (applies to both professional and student chapters) on the effectiveness of these events in order to improve them and better serve the student chapter members.</p>
<h2>VII. Program Structure</h2>
<p>The MentorSHPE program will be structured to require at least monthly one-hour meetings between mentor and mentee. A progressive list of topics and questions will be provided to guide the discussions.</p>
<p>Example topics:</p>
<ul>
<li>Assessment of the mentee's experience, the mentee's current situation and where the mentee would like to be within 1 year and 5 year timeframes</li>
<li>Exploring and clarifying long-term goals</li>
<li>Exploring and clarifying why the goals are of value and worth time, energy, and resources. What are the motivating factors and what is the price that the mentee is willing to pay? What are the opportunity costs?</li>
<li>Identification of short-term goals that support the 1 year timeframe</li>
<li>Identification of abilities, resources, and limitations</li>
<li>Creating a strategy for achieving short-term goals</li>
<li>Exploring and clarifying how the mentor can help support the short-term goals</li>
<li>Identifying areas that the mentee can reinforce and improve on</li>
<li>Periodically refining 1 and 5 year goals proposed by the mentee</li>
<li>Strategies for the mentee to get buy-in from parents regarding his/her goals</li>
</ul>
<p>However, mentors are encouraged to tailor discussions to the specific needs of the mentee, especially with regard to urgent short-term issues (i.e., obtaining good grades, problem solving, college interviews, etc.). Communication is encouraged beyond the monthly meetings as needed.</p>
<p>Some examples of high-level mentee goals include:</p>
<ul>
<li>Obtain funding for college</li>
<li>Develop leadership skills</li>
<li>Learn how to get an interview and have a successful one</li>
<li>Develop a resume</li>
<li>Develop networking skills</li>
<li>Expand current network</li>
<li>Obtain career guidance</li>
<li>Develop technical and/or scientific skills</li>
<li>Develop time management skills</li>
<li>Etc…</li>
</ul>
<p>There will be introductory and concluding meetings prior to the mentees at the start of the program. At these meetings, mentee information will be recorded in order to gauge progress of the mentee and of the program as well as obtain feedback and improve the program for the consecutive year. The information should include mentee's academic progress, upcoming summer activity, program entry goals, program exit achievements, etc.</p>
<h2>VIII. Roles and Responsibilities</h2>
<p>The mentor's role may be characterized as:</p>
<ul>
<li>A listener, observer, sounding board and confidant</li>
<li>Bringing his or her experience to the partnership within the context of the mentee's needs</li>
<li>A role model, an expert and a guide</li>
</ul>
<p>The mentor's responsibilities include:</p>
<ul>
<li>Supporting the short-term goals set in partnership with the mentee</li>
<li>Write and submit a monthly report that contains hours volunteered, activities conducted and mentee's progress</li>
<li>Guiding the mentee to better clarify and define long-term goals</li>
<li>Identifying areas of improvement</li>
<li>Supporting open and honest communication through respect, trust, and confidentiality</li>
<li>Provide constructive feedback to mentee</li>
<li>Share their expertise and personal success story</li>
<li>Ask probing questions that require concrete answers</li>
<li>Encourage and motivate the mentee to develop talents and exceed goals</li>
</ul>
<p>The mentee's role may be characterized as:</p>
<ul>
<li>The motivator and driving force within the partnership</li>
<li>The identifier of needs, hopes, and dreams</li>
<li>The one who should be doing the "work" in the partnership</li>
<li>The main beneficiary of that work</li>
</ul>
<p>The mentee's responsibilities include:</p>
<ul>
<li>The development of short-term goals in partnership with the mentor Committing to following through with short-term goals within the agreed timeframe</li>
<li>Providing open and honest feedback</li>
<li>Set realistic goals with mentor</li>
</ul>
<p>The MentorSHPE Program Coordinator's responsibilities include:</p>
<ul>
<li>Recruit, interview and screen candidates</li>
<li>Coordinate orientation and training: (mentees and mentors must attend an orientation))</li>
<li>Assist with the matching of the mentees/mentors</li>
<li>Support all mentoring relationships: answer questions, troubleshoot, keep participants engaged</li>
<li>Distribute and obtain program forms, monthly and quarterly reports and success stories and turn them into the staff program coordinator.</li>
<li>Implement evaluation procedures</li>
<li>Plan training workshops</li>
<li>Provided report forms</li>
<li>Schedule initial meetings with mentor-mentee until they are self-efficient</li>
<li>Manage evaluation data collection</li>
</ul>
<h2>IX. Program Schedule and Time Commitment</h2>
<p><strong>Tentative Mentor/Mentee Program Schedule</strong></p>
<table class="table">
<thead>
<tr>
<th>Milestones</th>
<th>Target Date</th>
</tr>
</thead>
<tbody>
<tr>
<td>Application for mentors/Mentees</td>
<td>January 25 – February 06</td>
</tr>
<tr>
<td>MentorSHPE chapter coordinator to pair Mentor/Mentee</td>
<td>February 07 – 21</td>
</tr>
<tr>
<td>Coordinate a Mentee/Mentor kick off meeting</td>
<td>February 22</td>
</tr>
<tr>
<td>Suggested topics of discussions (*)</td>
<td></td>
</tr>
<tr>
<td>Topic 1 (Refer to Guideline)</td>
<td>Week of March 13</td>
</tr>
<tr>
<td>Topic 2 (Refer to Guideline)</td>
<td>Week of April 10</td>
</tr>
<tr>
<td>Conference call (Mentor/Facilitator)</td>
<td>Week of April 24</td>
</tr>
<tr>
<td>Topic 3 (Refer to Guideline)</td>
<td>Week of May 15</td>
</tr>
<tr>
<td>Topic 4 (Refer to Guideline)</td>
<td>Week of June 05</td>
</tr>
<tr>
<td>Close out session to collect feedback</td>
<td>TBD</td>
</tr>
</tbody>
</table>
<p>(*) Every Mentor/Mentee topics of discussion vary by grade level, expertise and commitment. SHPE SFBA has suggested topics if needed.</p>
<p>The mentor and mentee must meet at least once per month for a one-hour session, facilitated by the program coordinator. Additional meetings may be negotiated as needed by the mentee with the mentor. Further communication is encouraged over email and/or the phone as needed.</p>
<p>Attendance to the SHPE Chapter events and the SHPE Conference are highly recommended for mentors/mentees.</p>
<h2>X. Evaluation</h2>
<p>The chapter coordinator will distribute and collect the program evaluation. The mentees and mentors will fill out program evaluation forms to capture the best practices and areas of opportunities for future programs.</p>
<h2 id="mentorshpe_downloads">Sign up</h2>
<p>If you are interested in mentoring a student, please fill out the application below and submit it to <a href="mailto:studentoutreach@shpesfba.org">studentoutreach@shpesfba.org</a>
<p><a href="{% static "docs/MentorSHPE_MentorProfileForm.pdf" %}" class="btn btn-primary">Sign-Up Form for Mentors</a><br/><br/></p>
<p><a href="{% static "docs/MentorSHPE_MentorsMonthlyReport.pdf" %}">Click here for Mentor's Monthly Report</a></a>
</ol>
</div>
</div>
{% endblock %}
