html {
    overflow-y: scroll;
}

body {
     font-family: 'Open Sans', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
     font-weight: 700; 
     color: #4B4B4C; 
}

#headline {
    background-color: rgba(12, 11, 11, 0.82);
    background-image: url('images/home_group.jpg');
    /* background-position: 25% 0, 85% 85%; */
     background-size: auto 120%; 
    background-repeat: no-repeat;
    height: 420px;
}

#headline-min {
    background-color: #33648c;
    background-image: url('images/shape-01.png'), url('images/shape-02.png');
    background-position: 25% 0, 85% 85%;
    background-size: auto 120%;
    background-repeat: no-repeat;
    height: 75px;
    margin-bottom: 10px;
}

#headline > h1 {
    color: white;
    position: relative;
    top: 25%;
}

#shpenavbar{
    background-color: #FFF;
    margin-bottom: 0;
}

#shpenavbar ul.navbar-nav li > a{
    line-height: 60px;
}

#shpelogo{
    display:block;
    padding: 5px 5px 0 0;
    width: 100px;
    height: 100%;

}
#shpelogo > img{
    width: 100%;
}
.social-link {
    line-height:30px;
}
.social-link img {
    margin-right: 10px;
}
.panel-heading.jobs-panel {
    background-color: #d3d2d2;
    color: #fff
}

.btn-rsvp {
    width: 140px;
    height: 25px;
    font-style: italic;
    line-height: 0;
    font-weight: 300;
    border-radius: 4px;
    color: #fff;
    background-color: #4f9bd8
}

.btn-rsvp:hover {
    color: #fff;
    background-color: #314559
}

.spanfix span {
    float: right
}

h1, h2 {
    line-height: 1.5
}

h1 {
    font-size: 1.5em;
    color: #1a3851
}

@media (min-width: 768px) {
    h1 {
        font-size: 2em
    }
}

h2 {
    font-size: 1.4em
}

@media (min-width: 768px) {
    h2 {
        font-size: 1.9em
    }
}

.font-lg {
    top: 5px;
    right: 5px
}

.font-lg:before {
    font-size: 1.5em
}

.honeypot {
    display: none
}

.headline, .headline-parallax {
    background-color: #33648c;
    color: #fff;
    height: 250px;
    overflow: hidden
}

.headline div, .headline-parallax div {
    height: 100%
}

@media (min-width: 768px) {
    .headline, .headline-parallax {
        height: 390px
    }
}

.headline-min {
    background-color: #33648c;
    height: 75px;
    overflow: hidden
}

@media (min-width: 768px) {
    .headline-min {
        height: 100px
    }
}

.headline_text, .headline_text-parallax {
    color: #fff;
    font-weight: 300;
    padding-top: 80px
}

@media (max-width: 767px) {
    .headline_text, .headline_text-parallax {
        padding-top: 0
    }
}

.headline_text-parallax {
    margin: 0;
    padding-top: 240px
}

@media (max-width: 767px) {
    .headline_text-parallax {
        padding-top: 130px
    }
}

.inner-container {
    padding: 0 40px;
    margin: 0 auto
}

@media (min-width: 768px) {
    .inner-container {
        width: 690px
    }
}

@media (min-width: 970px) {
    .inner-container {
        width: 910px
    }
}

@media (min-width: 1280px) {
    .inner-container {
        width: 1024px
    }
}

.section:nth-child(2n+3) {
    background-color: #d3d2d2
}

.section_title {
    color: #1a3851
}

.section_bio {
    min-height: 265px
}

.section_upcoming {
    min-height: 450px;
    background-image: url(images/shape-03.png);
    background-position: 60% 0;
    background-repeat: no-repeat
}

@media (min-width: 768px) {
    .section_upcoming {
        background-position: 40% 0
    }
}

@media (min-width: 1024px) {
    .section_upcoming {
        background-position: 30% 0
    }
}

.section {
    padding: 50px 0
}

.slick-slide {
    text-align: center;
    font-size: 14px;
    font-weight: 300
}

.slick-slide div {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin: 20px auto
}

.slick-slide h3 {
    margin: 0;
    color: #1a3851;
    font-size: 18px
}

.slick-slide button {
    margin: 10px
}

.slick-slider .slick-dots li button:before {
    font-size: 10px
}

.slick-slider .slick-next, .slick-slider .slick-prev {
    width: 28px;
    height: 30px
}

.slick-slider .slick-next:before, .slick-slider .slick-prev:before {
    color: #34495e;
    font-size: 30px
}

.slick-slider .slick-active {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    0% {
        -ms-filter: "alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        height: 20px
    }
    100% {
        -ms-filter: none;
        filter: none;
        opacity: 1
    }
}

.no-upcoming {
    text-align: center;
    padding-top: 3em
}

@keyframes fadeIn {
    0% {
        -ms-filter: "alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        height: 20px
    }
    100% {
        -ms-filter: none;
        filter: none;
        opacity: 1
    }
}

.membership_section {
    min-height: 200px
}

.membership_button-center {
    text-align: center
}

@media (max-width: 767px) {
    .membership_button-secondPadding {
        margin-top: 15px
    }
}

.membershipLevel {
    background-color: #d3d2d2;
    border-radius: 10px;
    margin-bottom: 25px;
    padding-left: 0;
    padding-right: 0
}

.membershipLevel > div {
    padding: 10px 40px
}

.membershipLevel .head {
    background-color: #33648c;
    border-radius: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: #fff
}

.membershipLevel .head span {
    float: right
}

@media (max-width: 767px) {
    .membershipLevel .head {
        background-color: transparent
    }
}

.membershipLevel .body {
    font-size: 12px
}

.membershipLevel button {
    margin-bottom: 10px
}

.membershipLevel li {
    padding-bottom: 5px
}

@media (max-width: 767px) {
    .membershipLevel {
        text-align: center;
        border-radius: 0;
        min-height: 200px;
        font-weight: 700
    }

    .membershipLevel .head {
        color: #1a3851
    }

    .membershipLevel .head span {
        color: #33648c;
        float: none;
        display: block;
        padding: 20px 0 0
    }

    .membershipLevel:nth-child(2n+1) {
        background-color: #d3d2d2
    }

    .membershipLevel:nth-child(2n) {
        background-color: transparent
    }
}

.inner_page-bg {
    background-image: url(images/shape-04.png);
    background-repeat: no-repeat;
    background-position: 67% 100%
}

@media (min-width: 768px) {
    .inner_page-bg {
        background-position: 67% 100%
    }
}

@media (min-width: 1024px) {
    .inner_page-bg {
        background-position: 40% 100%
    }
}

.modal-body {
    font-size: 13px;
    font-weight: 300;
    text-align: justify
}

.gallery_page-container {
    text-align: center;
    z-index: 1;
    background-color: #fff
}

.gallery_photo {
    display: inline-block;
    position: relative;
    padding: 15px
}

.gallery_photo .gallery_photo-blur {
    position: absolute;
    display: none
}

.gallery_photo img {
    width: 250px;
    height: 250px
}

.gallery_photo > a > img {
    box-shadow: 3px 6px 4px rgba(0, 0, 0, .24)
}

.gallery_photo:hover .gallery_photo-blur {
    display: block;
    overflow: hidden;
    text-align: left
}

@media (min-width: 768px) {
    .gallery_photo img {
        height: 200px;
        width: 200px
    }
}

.gallery_photo-blur {
    background-color: rgba(255, 255, 255, .75);
    padding: 10px;
    top: 15px;
    width: 250px
}

@media (min-width: 768px) {
    .gallery_photo-blur {
        width: 200px
    }
}

.gallery_photo-metadata {
    font-size: 1.5rem
}

.gallery_photo-metadata hr {
    margin: 0;
    border: 1px solid #1a3851
}

footer {
    margin-top: 40px;
    padding-top:20px;
    background-color: #636363;
    min-height: 350px;
    font-size: 12px;
    color: #d3d2d2
}

footer p {
    font-size: 12px
}


footer hr {
    margin: 5px 0;
    color: #d3d2d2
}

footer a {
    color: #d3d2d2
}

footer a:hover {
    color: #fff
}

footer .footer-btn {
    width: 105px;
    height: 25px;
    color: #fff;
    background-color: #464646;
    float: right;
    font-style: italic;
    line-height: 13px;
    text-align: left
}

footer .footer-btn_style {
    color: #fff;
    background-color: #464646;
    font-style: italic;
    line-height: 13px;
    text-align: left
}

footer input.form-control {
    height: 25px;
    margin-bottom: 10px
}

footer input.form-control::-webkit-input-placeholder, footer textarea.form-control::-webkit-input-placeholder {
    font-style: italic;
    color: #6a6868
}

footer input.form-control:-moz-placeholder, footer textarea.form-control:-moz-placeholder {
    font-style: italic;
    color: #6a6868
}

footer input.form-control::-moz-placeholder, footer textarea.form-control::-moz-placeholder {
    font-style: italic;
    color: #6a6868
}

footer input.form-control:-ms-input-placeholder, footer textarea.form-control:-ms-input-placeholder {
    font-style: italic;
    color: #6a6868
}

@media (max-width: 767px) {
    footer .footer_form-container {
        width: 300px;
        margin: 0 auto;
        display: block
    }
}

footer .buffer {
    height: 2vh
}

.footer-about p {
    font-size: 1.5rem
}

.navbar-brand {
    padding: 25px 0
}

.nav {
    font-size: 16px
}

@media (min-width: 768px) {
    .navbar .container-fluid {
        width: 920px;
        float: none;
        margin: 0 auto
    }
}

.officer-square {
    display: inline-block;
    position: relative;
    padding: 15px;
    vertical-align: top;
    text-align: justify
}

.officer-square img {
    display: block;
    width: 250px;
    height: 250px;
    margin: 0 auto
}

.officer-square a {
    font-size: 1.2em
}

@media (min-width: 480px) {
    .officer-square {
        max-width: 280px
    }
}

@media (min-width: 768px) {
    .officer-square {
        min-width: 350px
    }
}

.officer-container {
    max-width: 1200px;
    text-align: center
}

.job-post {
    line-height: 20px;
}

.job-post:nth-of-type(even) {
    background-color: #fbfbfb;
}

a.navigation {
    top: 10px;
    text-align: center;
    font-style: italic;
    color: #fff
}

.job-form .checkbox label {
    font-weight: 700
}

.center-outer {
    position: relative
}

.center-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.fifty {
    height: 50vh
}

.center-box {
    margin: 0 auto
}

.alert {
    color: #1a3851;
    text-align: center
}

.navbar-default {
    border: none
}

.bv-form .help-block {
    margin-bottom: 0
}

.bv-form .tooltip-inner {
    text-align: left
}

.nav-tabs li.bv-tab-success > a {
    color: #3c763d
}

.nav-tabs li.bv-tab-error > a {
    color: #a94442
}

.bv-form .bv-icon-no-label {
    top: 0
}

.bv-form .bv-icon-input-group {
    top: 0;
    z-index: 100
}

.clearfix {
      clear:both;
}

#about-header {
    background-image: url('images/everybody.jpeg');
    height: 300px;
  background-repeat: no-repeat;
      background-position: top center;
          background-size: cover;
}

.bottom-line{
	width: 25px;
	height: 3px;
	background-color: #4B4B4C;
}

.fea{
	margin-top: 25px;
}
.fea-img {
  width: 20%;
}
.fea i {
    font-size: 39px;
    color: #1a3851;
    margin-top: 7px;
}

/* Custom Buttons
 ===========================================
*/ 
.btn-shpe {
    border-radius: 0;
    background: none;
    border: 2px solid #1a3851;
    color: #337ab7; 
    margin-top: 2px;
}

.btn-shpe:hover {
    border-radius: 0;
    background: #337ab7;
    border: 2px solid #337ab7;
    color: #fff;
}

/* Homepage Blue Chip Award Text
 ===========================================
*/ 
.blue-chip {
  color: #4B4B4C;
  font-weight: 600;
  font-size: 12pt;
  padding: 25px;
  text-align: center;
}

.line {
  padding-top: 20px;
  overflow: hidden;
  text-align: center;
}

.line hr {
    border-top: 2px solid #4B4B4C;
}

/* Homepage Group Image and Leading Text
 ===========================================
*/ 
.banner {
	background: url('images/home_group.jpg') no-repeat center top;
    background-size: cover;
	min-height: 480px;
    position: relative;
}

.banner-text {
    text-align: center;
    color: #fff;
    margin-top: 30%;
}

.bg-color {
	background-color: rgba(12, 11, 11, 0.4);
	min-height: 480px;
}
